.file-card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  size: 12;
  padding: 8;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
  margin: 16 0;
}

.file-icon-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #295b9d;
}
.file-card-icon {
  width: 120px;
  border: 0;
  max-height: 120px;
  display: flex;
  justify-content: center;
}

.file-card-icon:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.file-card-icon .file-card-icon-title {
  font-size: 14px;
  margin-top: 10px;
}
h4.ant-list-item-meta-title {
  margin: 8px;
}
.list-item-file-explore {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  padding: "0 8px";
}
.list-item-file-explore:hover {
  background: rgba(169, 169, 169, 0.105);
}

.list-item-file-explore {
  transition: all 0.3s;

  padding-left: 6px;
}
.dropdown-content {
  background: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.dropdown-content .ant-dropdown-menu {
  box-shadow: none;
}
